#LED
NET "led<7>" LOC = "g1";
NET "led<6>" LOC = "p4";
NET "led<5>" LOC = "n4";
NET "led<4>" LOC = "n5";
NET "led<3>" LOC = "p6";
NET "led<2>" LOC = "p7";
NET "led<1>" LOC = "m11";
NET "led<0>" LOC = "m5";

#sw
NET "sw<3>" LOC = "n3";
NET "sw<2>" LOC = "e2";
NET "sw<1>" LOC = "f3";
NET "sw<0>" LOC = "g3";